{% extends "app/base.html" %}
{% load static %}
{% block title %}Đổi mật khẩu thành công{% endblock title %}
{% block main-content %}
<div class="container my-5">
<!--    <div class="row">-->
<!--        <h3>Welcome {{request.user.username|capfirst}}</h3>-->
<!--        <div class="col-sm-2 border-end">-->
<!--            <ul class="list-unstyled">-->
<!--                <li class="d-grid"><a href="#" class="btn btn-primary">Đổi mật khẩu thành công</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
    <div class="col-sm-9 offset-sm-1 text-center">
        <h3>Đổi mật khẩu thành công!!!</h3>
        <div>
            <iframe src="https://giphy.com/embed/f8UWGF6oCiupG6IxSp" width="480" height="480" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</div>
{% endblock main-content %}
